@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h3 class="active">Upload offer.csv</h3>
    <p class="alert-light">automatically saves to DB</p>
    <form class="active" asp-controller="Home" asp-action="Create" enctype="multipart/form-data" method="post">
        <input type="file" name="upload" />
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
